body {
	 background-color: #D6D6D6;
	 font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	 margin: 2px;
	 }
  

.titulazo{
  background-color: #22314E;
  border-bottom: 4px black groove;
  text-align:center;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:16px;
  font-style:oblique;
  color: #3366CC;
  background-position:left top;
  height:80px;
  width:100%;
  margin:2px;
}
.titulazo h2{
  font-size: 30px;
  font-family: Comic;
  float: left;
  position: relative;
  left: 45px;
  font-weight: normal;
  color: white;
}
.titulazo h2:hover{
  color: #7BA4F5;
}
  
.menu
{
  width: 10%;
  height: 50%;
  border:4px #FFF groove;
  margin: 2px;
  background-color: #F90;
  float:left;
  text-align:center;
}
  
.comeciales{
  margin:10px;
  background-color:#F90;
  border:2px #FFF groove;
  width:10%;
  height:50%;  
}

.login{
  position: relative;
  display: inline-block;
  float: right;
  top:0px;
  right: 1px;
  height: 30px;
  padding: 10px 10px;
}
.login label{
  color: white;
  font-family: comic;
  font-style: italic;
  font-size: 22px;
}

.login input[type='text']{
  border: 1.5px solid white ;
  padding-left: 3px;
  border-radius: 2px;
  height: 20px;
  font-family: sans-serif;
}

.login input[type='text']:hover{
  border: 2px solid #8BA9E6;
}

.login input[type='password']{
  border: 1.5px solid white;
  padding-left: 3px;
  border-radius: 2px;
  height: 20px;
  font-family: sans-serif;
}

.login input[type='password']:hover{
  border: 2px solid #8BA9E6; 
}

.login input[type='submit']{
  background-color: white;
  font-size: 12px ;
  border: 1px solid lightgrey;
  padding: 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  box-shadow: 0 4px darkgrey;
}

.login input[type='submit']:hover{
  border: 1px solid black;
}
.login input[type='submit']:active {
  background-color: #ADA8A8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.registro{
  position: relative;
  display: inline-block;
  float: center;
  top:150px;
  left: 7%;
  width: 300px;
  height: auto;
  padding: 15px 15px 15px 15px;
  background-color: #22314E;
  border: 2px groove white;
  border-radius: 6px;
}
.registro label{
  color: white;
  font-family: comic;
  font-style: italic;
  font-size: 22px;
}
.registro input[type='text']{
  width: 70%;
  border: 1.5px #555 solid;
  padding-left: 3px;
  border-radius: 2px;
  height: 24px;
  font-family: sans-serif;
}

.registro input[type='text']:hover{
  border: 2px solid #BA21BF;
}

.registro input[type='password']{
  width: 70%;
  border: 1.5px #555 solid;
  padding-left: 3px;
  border-radius: 2px;
  height: 24px;
  font-family: sans-serif;
}

.registro input[type='password']:hover{
  border: 2px solid #BA21BF; 
}

.registro input[type='submit']{
  background-color: white;
  font-size: 12px ;
  border: 1px solid lightgrey;
  padding: 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  box-shadow: 0 4px darkgrey;
}

.registro input[type='submit']:hover{
  border: 1px solid black;
}
.registro input[type='submit']:active {
  background-color: #ADA8A8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.Empleados{
  width:300px;
  border: 2px #fff ridge;
  margin: 50px;
  padding: 30px 30px;
  background-color: #F0F7FC;
  border-radius: 5px;
}
.Empleados label{
  width: 100%;
  padding-bottom: 4px;
  color: #3366CC;
  font-family: serif;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
}
.Empleados input[type='text']{
  width: 80%;
  height: 20px;
  padding-left: 6px;
  border: 2px #fff ridge;
  border-radius: 5px; 
}
.Empleados input[type='text']:focus{
  border: 2px solid #555;
}
.Empleados input[type='file']{
  width: 80%;
  padding: 4px 4px;
  font-style: helvetica;
  font-size: 15px;
  font-style: italic;
}  
.contenido{
  height:auto;
  width:auto;
  margin:2px;
  float:left;
  color: #3366CC;
  text-align:center; 
}
#menuv
{
	border: 2px solid white;
	border-width: 1px 1px 0 1px;
	width: 170px;
	font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
	float:left;
	margin:1px;
}

   #menuv ul, li {
        list-style-type: none;
   }

   #menuv ul {
        margin: 0;
        padding: 0;
    }

   #menuv li {
        border-bottom: 1px solid white;
    }

   #menuv a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        background: #22314E;
        display: block;
        padding: 6px 6px;
        width: 170px;
    }

    #menuv a:hover {
        background: #DBEBF6;
        color: black;
        border: 1px solid black;
    }
.registrar{
  position: relative;
  display: inline-block;
  float: right;
  top:100px;
  right:40%;
  width: 300px;
  height: auto;
  padding: 15px 15px 15px 15px;
  background-color: #22314E;
  border: 2px groove white;
  border-radius: 6px;
}
.registrar label{
  color: white;
  font-family: comic;
  font-style: italic;
  font-size: 22px;
}
.registrar input[type='text']{
  width: 70%;
  border: 1.5px #555 solid;
  padding-left: 3px;
  border-radius: 2px;
  height: 24px;
  font-family: sans-serif;
}

.registrar input[type='text']:hover{
  border: 2px solid #BA21BF;
}

.registrar input[type='password']{
  width: 70%;
  border: 1.5px #555 solid;
  padding-left: 3px;
  border-radius: 2px;
  height: 24px;
  font-family: sans-serif;
}

.registrar input[type='password']:hover{
  border: 2px solid #BA21BF; 
}

.registrar input[type='submit']{
  background-color: white;
  font-size: 12px ;
  border: 1px solid lightgrey;
  padding: 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  box-shadow: 0 4px darkgrey;
}

.registrar input[type='submit']:hover{
  border: 1px solid black;
}
.registrar input[type='submit']:active {
  background-color: #ADA8A8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.registrar select{
  width: 80%;
  padding: 4px 4px;
  border: 2px #fff ridge;
  border-radius: 5px;
  background-color: lightgrey;
  font-style: helvetica;
  font-size: 15px;
  font-style: italic;
}
.search{
  position: relative;
  display: inline-block;
  float: right;
  top:20px;
  right: 1px;
  height: 30px;
  padding: 10px 10px;
}
.search label{
  color: white;
}
.search input[type='submit']{
  background-color: white;
  font-size: 12px ;
  border: 1px solid lightgrey;
  padding: 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  box-shadow: 0 4px darkgrey;
}
.search input[type='submit']:hover{
  border: 1px solid black;
}
.search input[type='submit']:active {
  background-color: #ADA8A8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}